@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    920 Fleming Ave.<br />
    Winnipeg, MB R2K 1V6<br />
    <abbr title="Phone">P:</abbr>
    204.791.8224
</address>

<address>
    <strong>Support:</strong> <a href="mailto:slfroese@mymts.net">slfroese@mymts.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:slfroese@mymts.net">slfroese@mymts.net</a>
</address>
